<h1 class="center">关于我们</h1>
<h3>关于蜗牛网</h3>
<hr/>
<p>“蜗牛网”是由“奋斗的蜗牛”团队打造的SNS网站。在这里你不仅可以交到新的朋友，而且可以用新酷的方式
发表自己的微博。你可以在这里享受到一站式服务，不用再多次登录不同的网站来发表自己的心情、日志等。</p>
<p>“蜗牛网”使用以下几种方式让你获得真实的友谊和新酷的微博经历:</p>
<ul>
  <li>所有用户注册的时候，都必须验证信息的准确性，甚至需要邀请码来达到此目的。</li>
  <li>我们可以让你的摄像头从仅仅的视频聊天用途中，添加一条:我们可以用摄像头来发微博！</li>
  <li>我们可以提供大家有兴趣的事物的“圈子”，大家可以在这里交流，聊天。</li>
  <li>我们有年轻的团队为你打造专属于我们年轻人的天地</li>
</ul>
<p>我们蜗牛的大Logo:</p>
<p class="center"><%= image_tag('logo2.png',:alt => 'Our Website Logo') %></p>
<h3>关于“奋斗的蜗牛”</h3>
<hr />
<p>“奋斗的蜗牛”是由来自西安电子科技大学的学子们创立的。他们追逐新的潮流，探究新的事物，并将之呈现给
其他人。下面的使我们的logo:</p>
<p class="center"><%= image_tag('bottom.png',:alt => 'Our Studio Logo') %>  <p>
<h3>我们的愿景</h3>
<hr />
<p>我们希望蜗牛可以继续奋斗下去，为大家提供更好地产品与服务。</p>
