<p>您收到此封邮件是因为有用户使用了该邮箱注册了<a href='http://fightingsnail.com'>蜗牛网</a>
如果这不是您本人操作的，请删除本邮件。谢谢</p>

<h1>亲爱的 Mr./Miss <%= @user.name %>:</h1>
<p>为了完成您的请求，请点击下面的链接进行下一步操作:</p>
<p><%=link_to @url, @url %></a></p>
<hr/>

<h2>蜗牛网，我们一起来奋斗！</h2>
