<footer class="row">
<hr/>
  <nav>
    <ul>
      <li><%= link_to '首页',root_path %></li>
      <li><%= link_to '关于我们',aboutus_path %></li>
      <li><%= link_to '帮助',help_path %></li>
      <li><%= link_to '注册',signin_path %></li>
    </ul>
  </nav>
  <p >All Right Reserved &copy;奋斗的蜗牛工作室出品 2011-2012<br/>
  地址：西安市太白路兴隆段266号西安电子科技大学 邮编:710126<br/>
  </p>

 </footer>
